* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/green_sky_4-wallpaper-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
  padding: 0;
  margin: 0;
  min-width: 100%;
  margin-bottom: 1vw;
}

h1 {
  font-size: 4.5rem;
  font-family: 'UnifrakturMaguntia', cursive;
}

h2 {
  font-size: 2rem;
  /**XXXXX** BEGIN Rem out **XXXXX**
  ***X display: block;
  ***XXXXX**  END  Rem out **XXXXX**/
}

p {
  /**XXXXX** BEGIN Rem out **XXXXX**
  ***X display: block;
  ***XXXXX**  END  Rem out **XXXXX**/
  font-size: 1rem;
  padding: 1rem;
}

/**XXXXX** BEGIN Rem out **XXXXX**
***X table {
***X   display: block;
***X }
***XXXXX**  END  Rem out **XXXXX**/

a:link {
  color: limegreen;
}

a:hover,
a:active {
  color: #039183;;
}

a:visited {
  color: #6F05FA;
}

.avatar {
  margin-left: 15vw;
}

.heading {
  text-align: center;
  color: #A5FDD4;
  background-color: black;
}

#left,
#right {
  margin: auto;
  color: #A5FDD4;
}

#left {
  flex: 0 0 38vw;
}

#right {
  flex: 0 0 42;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

/* On small screens, we are no longer using row direction but column */
@media all and (max-width: 675px) {
  #left {
    flex: 0 0 auto;
  }

  #right {
    flex: 0 0 auto;
  }

  .flex-container {
    display: block;
    /**XXXXX** BEGIN Rem out **XXXXX**
    ***X display: flex;
    ***X flex-flow: row wrap;
    ***X justify-content: space-around;
    ***X flex-flow: column wrap;
    ***XXXXX**  END  Rem out **XXXXX**/
  }
}
